html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: "Ubuntu";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-image: url(../../img/banner-1.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}
@media (max-width: 550px) {
  header {
    height: 50vh;
  }
  header .galery {
    display: none;
  }
  header .galery2 {
    display: block;
  }
}

.container-header {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 550px) {
  .container-header {
    padding: 0 20px;
  }
  .container-header .galery {
    display: none;
  }
  .container-header .galery2 {
    display: block;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 3.375rem;
}
@media (max-width: 550px) {
  .header-top {
    font-size: 0.7rem;
  }
  .header-top .galery {
    display: none;
  }
  .header-top .galery2 {
    display: block;
  }
}
.header-top span {
  border-bottom: 1px dashed #ffffff;
  padding-bottom: 2px;
}

.header-bottom {
  padding-bottom: 3.875rem;
}
.header-bottom ul {
  display: flex;
  justify-content: space-between;
}
.header-bottom ul a {
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 1s;
}
@media (max-width: 550px) {
  .header-bottom ul a {
    display: none;
  }
  .header-bottom ul a .galery {
    display: none;
  }
  .header-bottom ul a .galery2 {
    display: block;
  }
}
.header-bottom ul a:hover {
  text-decoration: underline;
}

.container-main {
  max-width: 940px;
  margin: 0 auto;
}
@media (max-width: 550px) {
  .container-main {
    padding: 0 20px;
  }
  .container-main .galery {
    display: none;
  }
  .container-main .galery2 {
    display: block;
  }
}

.miami-best {
  display: flex;
  margin-top: 8.75rem;
  line-height: 1.5rem;
  justify-content: space-between;
}
@media (max-width: 550px) {
  .miami-best {
    flex-direction: column;
    margin-top: 4.75rem;
  }
  .miami-best .galery {
    display: none;
  }
  .miami-best .galery2 {
    display: block;
  }
}
.miami-best-container1 {
  width: 40%;
  padding-right: 10%;
  box-sizing: border-box;
}
@media (max-width: 550px) {
  .miami-best-container1 {
    width: 100%;
    padding: 0;
  }
  .miami-best-container1 .galery {
    display: none;
  }
  .miami-best-container1 .galery2 {
    display: block;
  }
}
.miami-best-container2 {
  width: 60%;
}
@media (max-width: 550px) {
  .miami-best-container2 {
    width: 100%;
    margin-top: 3.25rem;
  }
  .miami-best-container2 .galery {
    display: none;
  }
  .miami-best-container2 .galery2 {
    display: block;
  }
}
.miami-best-title {
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 3.75rem;
}
@media (max-width: 550px) {
  .miami-best-title {
    font-size: 2rem;
  }
  .miami-best-title .galery {
    display: none;
  }
  .miami-best-title .galery2 {
    display: block;
  }
}
@media (max-width: 550px) {
  .miami-best-title {
    text-align: center;
  }
  .miami-best-title .galery {
    display: none;
  }
  .miami-best-title .galery2 {
    display: block;
  }
}
.miami-best-title-span1 {
  font-weight: bold;
}
.miami-best-title-span2 {
  color: #00aaef;
}
.miami-best-container-text {
  margin-left: 1.25rem;
}
@media (max-width: 550px) {
  .miami-best-container-text {
    margin: 0;
  }
  .miami-best-container-text .galery {
    display: none;
  }
  .miami-best-container-text .galery2 {
    display: block;
  }
}
.miami-best-subtitle {
  font-weight: bold;
}
.miami-best-list {
  margin-top: 2.75rem;
  margin-bottom: 3.25rem;
}
.miami-best-text-finaly {
  font-weight: bold;
}
@media (max-width: 550px) {
  .miami-best-text-finaly {
    text-align: center;
  }
  .miami-best-text-finaly .galery {
    display: none;
  }
  .miami-best-text-finaly .galery2 {
    display: block;
  }
}

.places {
  margin-top: 9.375rem;
}
@media (max-width: 550px) {
  .places {
    margin-top: 5.375rem;
  }
  .places .galery {
    display: none;
  }
  .places .galery2 {
    display: block;
  }
}

.places-title {
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 3.75rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 550px) {
  .places-title {
    font-size: 2rem;
  }
  .places-title .galery {
    display: none;
  }
  .places-title .galery2 {
    display: block;
  }
}
.places-title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 4.125rem;
}

.places-imgs-div {
  display: flex;
  justify-content: space-between;
}
.places-imgs-div .galery2 {
  display: none;
}
@media (max-width: 550px) {
  .places-imgs-div {
    justify-content: center;
  }
  .places-imgs-div .galery {
    display: none;
  }
  .places-imgs-div .galery2 {
    display: block;
  }
}
.places-imgs-description {
  margin-top: 1rem;
  font-weight: bold;
}
@media (max-width: 550px) {
  .places-imgs-description {
    text-align: center;
  }
  .places-imgs-description .galery {
    display: none;
  }
  .places-imgs-description .galery2 {
    display: block;
  }
}
.places-imgs-description span {
  color: #00aaef;
}

.margin-galery {
  margin: 2rem 0;
}

.margin-galery2 {
  margin-bottom: 2.375rem;
}

.btn-galery {
  width: 11.75rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.consultation {
  margin-top: 5.75rem;
}
.consultation-title {
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 3.75rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 550px) {
  .consultation-title {
    font-size: 2rem;
  }
  .consultation-title .galery {
    display: none;
  }
  .consultation-title .galery2 {
    display: block;
  }
}
.consultation-title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 9.75rem;
}
.consultation-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 550px) {
  .consultation-container {
    flex-direction: column;
  }
  .consultation-container .galery {
    display: none;
  }
  .consultation-container .galery2 {
    display: block;
  }
}
.consultation-subtitle {
  font-size: 2rem;
}
@media (max-width: 550px) {
  .consultation-subtitle {
    font-size: 1.5rem;
  }
  .consultation-subtitle .galery {
    display: none;
  }
  .consultation-subtitle .galery2 {
    display: block;
  }
}
.consultation-text {
  margin-top: 0.75rem;
  line-height: 1.5rem;
}
@media (max-width: 550px) {
  .consultation-text {
    margin-top: 3.25rem;
    width: 100%;
  }
  .consultation-text .galery {
    display: none;
  }
  .consultation-text .galery2 {
    display: block;
  }
}
.consultation-container1 {
  width: 50%;
}
@media (max-width: 550px) {
  .consultation-container1 {
    width: 100%;
    margin-bottom: 3.25rem;
  }
  .consultation-container1 .galery {
    display: none;
  }
  .consultation-container1 .galery2 {
    display: block;
  }
}
.consultation-container2 {
  width: 23.75rem;
}
@media (max-width: 550px) {
  .consultation-container2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-width: 100%;
  }
  .consultation-container2 .galery {
    display: none;
  }
  .consultation-container2 .galery2 {
    display: block;
  }
}
.consultation-container2-input {
  background-color: #eeeeee;
  border: none;
  width: 23.75rem;
  height: 3.25rem;
  margin-bottom: 0.75rem;
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}
.consultation-container2 .btn-consultation {
  width: 23.75rem;
  max-width: 100%;
}

.testimonials {
  margin-top: 8.125rem;
}
.testimonials-title {
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 3.75rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 550px) {
  .testimonials-title {
    font-size: 2rem;
  }
  .testimonials-title .galery {
    display: none;
  }
  .testimonials-title .galery2 {
    display: block;
  }
}
.testimonials-title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.testimonials-container {
  margin-top: 3.75rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 550px) {
  .testimonials-container {
    flex-direction: column;
  }
  .testimonials-container .galery {
    display: none;
  }
  .testimonials-container .galery2 {
    display: block;
  }
}
.testimonials-container-figure {
  width: 18.75rem;
}
@media (max-width: 550px) {
  .testimonials-container-figure {
    margin-bottom: 3.25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .testimonials-container-figure .galery {
    display: none;
  }
  .testimonials-container-figure .galery2 {
    display: block;
  }
}
.testimonials-container-figure-img {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.testimonials-container-figure-img-name {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 0.875rem;
}
.testimonials-container-figure-img-subname {
  font-style: italic;
  color: #696973;
  display: flex;
  justify-content: center;
  margin-top: 0.625rem;
}
.testimonials-container-figure-img-description {
  margin-top: 2.375rem;
  text-align: center;
  font-weight: 500;
}

.Contact {
  margin-top: 5.875rem;
}
.Contact-title {
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 3.75rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 550px) {
  .Contact-title {
    font-size: 2rem;
  }
  .Contact-title .galery {
    display: none;
  }
  .Contact-title .galery2 {
    display: block;
  }
}
.Contact-title-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 6.75rem;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 550px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-container .galery {
    display: none;
  }
  .contact-container .galery2 {
    display: block;
  }
}
.contact-container-left {
  font-size: 1.5rem;
  width: 50%;
}
@media (max-width: 550px) {
  .contact-container-left {
    width: 100%;
    text-align: center;
  }
  .contact-container-left .galery {
    display: none;
  }
  .contact-container-left .galery2 {
    display: block;
  }
}
.contact-container-left-margin1 {
  margin-top: 2.625rem;
}
.contact-container-left-margin2 {
  margin-bottom: 2.625rem;
}
.contact-container-rigth {
  width: 23.75rem;
  max-width: 100%;
}
@media (max-width: 550px) {
  .contact-container-rigth {
    margin-top: 3.25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-width: 100%;
  }
  .contact-container-rigth .galery {
    display: none;
  }
  .contact-container-rigth .galery2 {
    display: block;
  }
}
.contact-container-rigth-input {
  background-color: #eeeeee;
  border: none;
  width: 23.75rem;
  height: 3.25rem;
  margin-bottom: 0.75rem;
  outline: 0;
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}
.contact-container-rigth .message {
  height: 10.625rem;
}
.contact-container-rigth .btn-contact {
  width: 23.75rem;
  max-width: 100%;
}

footer {
  background-image: url(../../img/banner-footer.jpg);
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5.375rem;
}
@media (max-width: 550px) {
  footer {
    max-width: 100%;
    height: 50vh;
    justify-content: start;
  }
  footer img {
    margin-top: 1rem;
  }
  footer .galery {
    display: none;
  }
  footer .galery2 {
    display: block;
  }
}
footer p {
  position: relative;
  font-weight: bold;
  color: #ffffff;
  top: 9.375rem;
}
@media (max-width: 550px) {
  footer p {
    top: 4.6875rem;
  }
  footer p .galery {
    display: none;
  }
  footer p .galery2 {
    display: block;
  }
}

.btn {
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #00aaef;
  font-weight: bold;
  text-transform: uppercase;
  height: 3.25rem;
  line-height: 2rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  color: #00aaef;
  background-color: #ffffff;
  border: 1px solid #00aaef;
}

::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #393939;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

input:-moz-placeholder {
  font-size: 0.875rem;
  color: #393939;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.message::-webkit-input-placeholder {
  height: 100%;
  margin-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
