@use '../1-base/variables'
@use '../1-base/base-mixins'
@use 'layouts-mixins'

//@include layouts-mixins.center-content

.carrosel
    // @include layouts-mixins.banner
    height: 100vh
    

    @include base-mixins.mobile
        height: 50vh

.banner1
    background-image: url(../img/banner-1.jpg)
    @include layouts-mixins.banner

.banner2
    background-image: url(../img/banner-2.jpg)
    @include layouts-mixins.banner

.banner3
    background-image: url(../img/banner-3.jpg)
    @include layouts-mixins.banner


.container-header
    @include layouts-mixins.center-content  
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100vh

    @include base-mixins.mobile
        height: 50vh

.header-top
    display: flex
    justify-content: space-between
    align-items: center
    color: variables.$white-collor 
    font-size: 1rem
    font-weight: 500
    padding-top: 3.375rem

    @include base-mixins.mobile
        font-size: 0.70rem
        
    
    span
        border-bottom: 1px dashed variables.$white-collor
        padding-bottom: 2px
        line-height: 2.25em


.header-bottom 
    padding-bottom: 3.875rem

    ul
        display: flex     
        justify-content: space-between

        a
            color: variables.$white-collor 
            font-weight: 500
            font-size: 1rem
            text-transform: uppercase
            transition: 1s

            @include base-mixins.mobile
                display: none

            &:hover
                text-decoration: underline



            
            