@use '../1-base/base-mixins'
@use '../1-base/variables'


@mixin center-content
    max-width: variables.$container-width
    margin: 0 auto

    @include base-mixins.mobile
        padding: 0 20px

@mixin titles
    font-size: 3rem
    font-weight: lighter
    text-transform: uppercase
    box-sizing: border-box
    margin-bottom: 0.687rem

    @include base-mixins.mobile
        font-size: 2rem    
        
@mixin center-title
    display: flex
    justify-content: center
    
@mixin center-item
    display: block
    margin-left: auto
    margin-right: auto
    max-width: 100%
    
@mixin form-style
    background-color: variables.$gray-color
    border: none
    width: 23.75rem
    height: 3.25rem
    margin-bottom: 0.625rem
    outline: 0
    text-align: center
    box-sizing: border-box
    max-width: 100%

    &:last-child
        margin-bottom: 0.8rem


@mixin banner
    background-size: cover
    background-position: bottom
    height: 100vh
